* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
}

img {
  height: 30px;
}

.icons {
  margin-top: 20px;
}

.container-header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.col-33 {
  width: calc(100% / 3 - 30px)
}

.bg-pink {
  background-color: pink;
}

.border-black {
  border: 1px solid black;
}

.h-400 {
  height: 400px;
}

main {
  margin-top: 120px;
}

header {
  background-color: #FF6900;
  color: white;
  padding: 15px;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}